.card-container {
  width: 275px;
  height: 210px;
  background-color: #fff;
  margin: 1rem;
  color: black;
  border-radius: 0.5rem;
  padding: 1rem;
}

.card-link {
  text-decoration: none;
  color: #0071bc !important;

  font-size: 0.9rem !important;
}

.level {
  color: #d63703;
}

.card-container p {
  line-height: 20px;
  font-size: 16px;
}
