.home-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.space-background {
  margin-top: 10rem;
  color: #fff;
  text-align: center;
}

.space-background h1 {
  font-size: 2rem;
}

.space-background p {
  font-size: 2rem;
}

.home-buttons button {
  margin: 1rem 2rem;
}

.home-button1 {
  background-image: linear-gradient(to right, #6367c9, #a849ff);
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.2rem;
}

.home-button1:hover {
  background: none;
  border: 2px solid #6367c9;
  transition: 1s ease;
}

.home-button2 {
  color: #fff;
  padding: 10px 30px;
  border: 2px solid #6367c9;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.2rem;
}

.home-button2:hover {
  transition: 2s ease;
  border: 2px solid #fff;
  background-image: linear-gradient(to right, #6367c9, #a849ff);
}
